.valid {
  background-color: #D4E4FF;
  border-radius: 25px;
}

.invalid {
  border-bottom: 3px dashed #ff3b2d;
}

.email-block {
  margin: 7px 10px 5px 8px;
  padding: 2px 2px 2px 10px;
  /*font-weight: 500;*/
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  overflow: paged-x;

  float: left;
  display: inline-block;
}

.close {
  background-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  -webkit-appearance: none;
  border: 0;
  padding: 0px -10px 4px 5px;

  float: right;
  display: inline-block;
  overflow: visible; /* TODO: выровнять крестик */
}
