
.fixed-overlay__modal {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.fixed-overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 200%;
  content: '';
}

.modal {
  display: inline-block;
  vertical-align: middle;
}

.modal_container {
  margin: 50px;
  padding: 20px;
  min-width: 200px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  color: #000;
}

body {
  margin: 0px !important;
}
