.emails-editor {
  border-top: 1px solid #CCCCCC;
  margin-top: 34px;
  width: 420px;
  height: 99px;
  background-color: white;
  overflow: scroll;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.email-input {
  font-size: 14px;
  margin: 10px 10px 5px 5px;
  outline: none;
  line-height: 10px;
  /*width: 50%;*/
  /*word-break: break-word;*/
  /*border-width:0px;*/
  border: none;

  float: left;
  display: inline-block;
}

