.emails-editor {
  border-top: 1px solid #CCCCCC;
  margin-top: 34px;
  width: 420px;
  height: 99px;
  background-color: white;
  /*padding: 2px 2px 2px 2px;*/
  overflow: scroll;
}

.email {
  font-size: 14px;
  margin: 10px 10px 5px 5px;
  /*-webkit-appearance: none;*/
  outline:none;
  line-height: 10px;
  /*color: #B7B7B7;*/
  /*width:100%;*/
  /*word-break: break-word;*/
  /*border-width:0px;*/
  border:none;
}
