<div class="emails-editor">
  <div class="email-block"
       *ngFor="let e of emails"
       [ngClass]="{invalid: !isValid, valid: isValid}"
  >
    {{e}}
    <button class="close" (click)="delete(e)">&#10006;</button>
  </div>

  <input id="email" type="email" class="email"
         #box [value]="email"
         (keydown)="onKeyDown($event)"
         (input)="onInput($event, box.value)"
         (blur)="onBlur($event)"
         (change)="onChange(box.value)"
         placeholder="add more people..."
         aria-label="add more people..."
  >

</div>
